.dashboard {
  width: 90%;
  display: flex;
  max-width: 1000px;
  margin: 15px auto;
  border-radius: 25px;
  height: 95%;
  background-color: $white;
  box-shadow: 2px 2px 4px -2px rgba($darkBlue, 0.5);
  overflow: hidden;

  &__loader {
    @include center;
    width: 100%;
    height: 100%;
  }
}