.map-viewer {
  margin-top: 50px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;

  &__btn-container {
    display: flex;
    position: absolute;
    z-index: 99;
    left: 10px;
    bottom: 10px;
  }

  &__btn-left {
    margin-right: 10px;
  }
}